# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Alembic
migrations/versions/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / Black cache
.ruff_cache/
